# Python
__pycache__/
*.py[cod]
.venv/
.env


# Виртуальное окружение
.venv/
.env

# VS Code
.vscode/

# Docker
docker-compose.override.yml
*.log

# Пакеты и сборки
build/
dist/
*.egg-info/

# Системные файлы
.DS_Store

config/config.yaml
